    <h1>Proyecto</h1>
    <label>Usuario:</label>
    <input type="text" id="username" value="exceped@example.com"><br><br>
    <label>Contraseña:</label>
    <input type="password" id="password" value="Inicio1$"><br><br>

    <button onclick="login()">Iniciar sesión</button>
    <button onclick="acceder()">Acceder a ruta protegida</button>

    <h3>Token:</h3>
    <pre id="tokenBox">Ninguno</pre>

    <h3>Respuesta de /protegido:</h3>
    <pre id="respuesta">Esperando...</pre>
    